<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Results Table</title>
</head>
<body>

  <h2>View Complaint</h2>

  <table border="1" cellpadding="8" cellspacing="0">
    <tr>
      <th>username</th>
      <th>complaint</th>
      <th>date</th>

      <th>Actions</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
         <a href="reply.html">Reply</a>
      </td>
    </tr>
    

  </table>

</body>
</html>
